* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1d2b3a;
    flex-direction: column;
    gap: 30px;

}

h1 {
    color: #00dfc4;
}

.casillero {
    position: relative;
    width: 250px;

}

input {
    width: 100%;
    border-radius: 5px;
    font-size: 1em;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255, 0.25);
    background: transparent;
    color: #fff;
    outline: none;
    transition: 0.5s;
}

label {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgb(255, 255, 255, 0.25);
    text-transform: uppercase;
    transition: 0.5s;
}

.casillero input:valid~label,
.casillero input:focus~label {
    color: aqua;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #1d2b3a;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
    letter-spacing: 0.2em;
}

.casillero input:valid~label,
.casillero input:focus~label {
    background: #00dfc4;
    color: #1d2b3a;
    border-radius: 2px;
}


.casillero input:valid,
.casillero input:focus {
    border: 1px solid #00dfc4;
}

.btnRegistrar {
    background: #00dfc4;
    color: #1d2b3a;
    border-radius: 3px;
    font-size: 15px;
    padding: 5px;
}

#formulario {
    visibility: hidden;
}